* {
  color: #360036;
  font-family: Verdana, Helvetica, sans-serif;
  margin-bottom: 0.5em;
}

*:focus {
  outline: 2px dotted white;
}

body {
  background-color: #77C7D9;
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

textarea {
  font-family: inherit;
  padding: 0.5em;
  width: 100%;
  max-width: 100%;
  height: 10em;
}

select {
  margin-bottom: 1em;
  font-size: inherit;
}

input[type=file] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  display: inline;
}

label {
  display: inline-block;
}

button, label {
  cursor: pointer;
  font-size: 0.9em;
  border: 0;
  font-family: inherit;
  color: white;
  padding: 1em;
  background-color: #765499;
}

button:hover, label:hover {
  background-color: #8962B3;
}

button:active, label:active {
  background-color: #624680;
}

button:focus, label:focus {
  outline: 1px dotted white;
}

button:disabled {
  opacity: 0.5;
}

img {
  width: 100%;
}

hr {
  border: 0;
  height: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-image: linear-gradient(to right, rgba(54, 0, 54, 0),
  rgba(54, 0, 54, 0.75), rgba(54, 0, 54, 0));
}


table {
    border-collapse: collapse;
    background-color: white;
    font-size: 0.8em;
}

table, th, td {
    border: 1px solid black;
    padding: 0.3em;
}

.tablewrap {
  max-width: 100%;
  overflow-x: auto;
}

.tablegray {
  text-align: center;
  background-color: lightgray;
}

.chk {
  white-space: nowrap;
}

.accordion {
  width: 100%;
  text-align: left;
  margin-bottom: 0;
}

.panel {
  padding: 1em;
  margin-top: 0;
  background-color: #C2E9F2;
  display: none;
}

.smalltext {
  font-size: 0.8em;
  font-style: italic;
  padding: auto;
}
